.game {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.board-holder {
    display: flex;
    margin: auto 0;
    width: 100%;
    justify-content: center;
  }

.board {
    display: grid;
    width: 30vw;
    height: 30vw;
    padding: 3vw;
    row-gap: 8%;
    column-gap: 8%;
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: 28% 28% 28%;
    background-color: rgb(10, 1, 40);
  }


.cell {
    border-style: double;
    color: white;
    background-color: black;
    border-color: blueviolet;
    font-size: 5ch;
    display: grid;
    justify-content: center;
    align-content: center;
}

.clickable {
  border-color: rgb(0, 255, 255);
}