* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.game {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.game-inner {
    display: flex;
    margin: auto 0;
    width: 100%;
    justify-content: center;
  }

.board-title {
  height: 5vw;
  width: 100%;
  display: flex;
  align-items: center;
}

span#playermove{
  width: 0;
}

span#playermoveValue {
  height: 4vw;
  width: 4vw;
  color: white;
  font-size: 3.5ch;
  background-color: black;
  border-style: double;
  border-color: rgb(0, 255, 255);
  display: grid;
  justify-content: center;
  align-content: center;
}

.board {
    display: grid;
    width: 25vw;
    height: 25vw;
    padding: 3vw;
    row-gap: 8%;
    column-gap: 8%;
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: 28% 28% 28%;
    background-color: rgb(10, 1, 40);
  }


.cell {
    border-style: double;
    color: white;
    background-color: black;
    border-color: blueviolet;
    font-size: 5ch;
    display: grid;
    justify-content: center;
    align-content: center;
}

.clickable {
  border-color: rgb(0, 255, 255);
}